
*{
    box-sizing: border-box;
}

body {
    max-width: 50em;
    margin: 1em auto;
}

.box {
    max-width: 50%;
    float: left;
    border: thin solid black;
    padding: 1.5em;
}

.bigL {
    font-size: 4em;
    float:left;
    padding: 0 .1em;
}

img {
    max-width: 100%;
    height: auto;
}

.imgR {
    float:right;
    width: 40%;
}